
<header class="jumbotron text-center">
    <h1 class="display-6">Eat-the-Burger!</h1>
</header>
<div class="container">
    <div class = "row text-center">
        <div class = "col-md-6 col-sm-6 col-xs-12">
            {{#each burgers}}
                {{#unless this.devoured}}
                    <div class="panel panel-info">
                        <div class="panel-heading burger_info">
                            {{this.id}}. {{this.burger_name}}
                            <div class="devour_info">
                                <button class="devour-it" data-id="{{this.id}}">Devour it!</button>
                            </div>
                        </div>
                    </div>
                {{/unless}}
            {{/each}}
        </div>
        <div class = "col-md-6 col-sm-6 col-xs-12">
            {{#each burgers}}
                {{#if this.devoured}}
                    <div class="panel panel-success">
                        <div class="panel-heading burger_info">
                            {{this.id}}. {{this.burger_name}}
                        </div>
                    </div>
                {{/if}}
            {{/each}}
        </div>
    </div>
    <div class="row">
        <form class="create-form">
        <div class="form-group">
            <label for="burger">Enter name of the burger you want to eat:</label>
            <input type="text" id="burger" name="name">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
        </form>
    </div>
</div>


